{% extends 'news/base.html' %}
{% load static %}

{%block content%}
<h2 style="text-align: center; color: red;">BIZ HAQIMIZDA</h2>
<p style="margin:30px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate 
</p>
{%endblock content%}

