<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;">
        <h2>BATAFSIL</h2>
        <br>
        <h3 style="font-weight: bold; text-align: center;">{{news_detail.title}}</h3>
        <br>
        <p style="text-align: left; margin-left: 10px;">{{news_detail.body}}</p>
        <img src="{{news_detail.image.url}}" alt="">
    </div>
</body>
</html>